<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">

	<title>Ernest MARIN</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto|Yellowtail|Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			crossorigin="anonymous">
	</script>
	<script src="js/home.js"></script>
</head>
<body class="show_home">
	<header class="header">
		<div class="proj_ico">
			<h3>Projects</h3>
			<div class="toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>

	<div class="content_wrapper">
		<div class="home">
			<div class="header_wrapper">
				<div class="header fake_header">
					<div class="proj_ico">
						<h3>Projects</h3>
						<div class="toggle">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<h1>
					<svg id="ernest" data-name="ernest" xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 892.8 94.52">
					  <title>font</title>
					  <g>
					     <path class="wlc" d="M33.08,109.86v-2q0-8.94.21-26.41T33.49,55V33.4H94.37V52.17c0,0.14,0,.39-0.05.76a1.91,1.91,0,0,1-.18.76l-0.37.6a1.38,1.38,0,0,1-.55.55,4.15,4.15,0,0,1-.84.29,4.73,4.73,0,0,1-1.15.13H89.77q-13.55,0-24.69-.42-0.11.84-.34,2.59t-0.37,3.09q-0.13,1.33-.13,2.59h24.9a3.6,3.6,0,0,1,2.09.42,1.64,1.64,0,0,1,.52,1.36c0,0.17,0,.45-0.05.84s-0.05.66-.05,0.84q0,2.51.16,7.43T92,81.41a1,1,0,0,1-.84,1,0.7,0.7,0,0,1-.52-0.21q-16.53.84-24.48,0.84H64.77v7.53q4.65,0,13.47-.42t13.21-.42q3.45,0,4,1.46v4q0,2.51.1,7.43t0.1,7.43q0,2.61-2.09,2.62-2.72,0-8.37-.05t-8.58-.05q-7.53,0-21.55.39t-20.29.44l-1.46-1.67A17.8,17.8,0,0,1,33.08,109.86Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M177.74,112q-1.15,1.15-4.84,1.36a81.39,81.39,0,0,1-9.07-.1q-5.39-.31-5.75-0.31-3.56,0-5.13-.1h-5.23q-1.15-.37-1.94-3.43a79.73,79.73,0,0,1-1.54-8.79q-0.76-5.73-.81-6.09-0.21-5.18-1.67-6.83T136.43,86h-2.3v25.52a1.57,1.57,0,0,1-1.1,1,9.35,9.35,0,0,1-2.85.55q-1.86.13-3.3,0.16t-3.79,0l-2.88-.05h-7.53q-6.38,0-9.62.1a14.52,14.52,0,0,1-1.46-.73v-78q0-1.46,4.18-1.46h45.61q11.87,0.31,18.07,5.65t6.2,15.06q0,12.66-12.76,18.52a15.4,15.4,0,0,1,4.24,2,16,16,0,0,1,3.14,2.8,15.24,15.24,0,0,1,2.2,3.58,29.24,29.24,0,0,1,1.46,3.92,36.63,36.63,0,0,1,.92,4.34q0.39,2.51.55,4.34t0.39,4.37q0.24,2.54.39,4v4.6a9.08,9.08,0,0,0,1,2.35,13.16,13.16,0,0,1,1,2.25C178.16,111.61,178,112,177.74,112Zm-43.93-56.7q0,3.14.05,4.66a24,24,0,0,0,.58,4,7,7,0,0,0,1.57,3.5,17.76,17.76,0,0,0,4.16-.47A14.38,14.38,0,0,0,144,65.41a7.39,7.39,0,0,0,2.9-3.11,10.61,10.61,0,0,0,1.07-4.94,6.66,6.66,0,0,0-.58-2.85,4.72,4.72,0,0,0-1.67-2,12.76,12.76,0,0,0-2.17-1.18,10,10,0,0,0-2.62-.63q-1.54-.18-2.43-0.24t-2.14-.05h-1.26a1.93,1.93,0,0,0-1,1.46A17.4,17.4,0,0,0,133.81,55.26Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M182.35,112V88.31q-0.11-13,.84-49.48V34.55a1.48,1.48,0,0,1,.42-1.36h36q0.52,0,2.12,4t3.87,10.23q2.27,6.25,3.22,8.6l7.32,19.14V54.84q0-2.61.13-9.6t0.08-10.91q0-1.46,8.37-1.46,2.61,0,7.17.1t5.6,0.1h4c0.56,0,.84.1,0.84,0.31q0.31,14.54.31,41.63v36.3q-0.37,1.36-3.35,1.36h-1.36q-2.72,0-8,.1t-8,.1H226.49q-0.73-.26-3-6.59-2.46-6.85-7.32-19.82T210.69,72q0,3.09-.05,9.21t-0.05,9.21q0,2.3.1,6.9t0.1,6.9v6.59q0,2.41-2.09,2.41H184.65Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M273.25,109.86v-2q0-8.94.21-26.41T273.67,55V33.4h60.88V52.17c0,0.14,0,.39-0.05.76a1.91,1.91,0,0,1-.18.76l-0.37.6a1.38,1.38,0,0,1-.55.55,4.15,4.15,0,0,1-.84.29,4.73,4.73,0,0,1-1.15.13h-1.46q-13.55,0-24.69-.42-0.11.84-.34,2.59t-0.37,3.09q-0.13,1.33-.13,2.59h24.9a3.6,3.6,0,0,1,2.09.42,1.64,1.64,0,0,1,.52,1.36c0,0.17,0,.45-0.05.84s-0.05.66-.05,0.84q0,2.51.16,7.43t0.16,7.43a1,1,0,0,1-.84,1,0.7,0.7,0,0,1-.52-0.21q-16.53.84-24.48,0.84h-1.36v7.53q4.65,0,13.47-.42t13.21-.42q3.45,0,4,1.46v4q0,2.51.1,7.43t0.1,7.43q0,2.61-2.09,2.62-2.72,0-8.37-.05t-8.58-.05q-7.53,0-21.55.39t-20.29.44l-1.46-1.67A17.8,17.8,0,0,1,273.25,109.86Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M374.82,114.88a93,93,0,0,1-11.09-1.07,46.45,46.45,0,0,1-9.49-2.62,25.78,25.78,0,0,1-7.69-4.55,21.89,21.89,0,0,1-5.18-7,28.11,28.11,0,0,1-2.54-9.94,1.07,1.07,0,0,1,1-1.15,3.64,3.64,0,0,0,1,.11q4.34,0,13.18-.21t13.18-.21a2.19,2.19,0,0,1,1.73.71,5.59,5.59,0,0,1,1,1.73,17.59,17.59,0,0,0,.94,2,4.36,4.36,0,0,0,1.88,1.73,7.3,7.3,0,0,0,3.43.71,7.45,7.45,0,0,0,4.52-1.44,4.58,4.58,0,0,0,2-3.9,3.86,3.86,0,0,0-1.67-3,13.27,13.27,0,0,0-4.42-2.22q-2.75-.86-5.23-1.46t-5.1-1q-2.62-.44-3-0.55Q350.6,78.06,345,72.94t-5.57-14a26.63,26.63,0,0,1,2.3-11.27,23.38,23.38,0,0,1,6-8.16,33.08,33.08,0,0,1,8.79-5.28,46.29,46.29,0,0,1,10.25-3,65.15,65.15,0,0,1,10.72-.86q14.7,0,23.43,5.44,3.19,3.19,4.68,4.84a27.89,27.89,0,0,1,2.88,3.84,15.37,15.37,0,0,1,1.94,4.31,28.91,28.91,0,0,1,.76,5.2l-1.88,1.88q-10.72.42-24.06,0.42a8.15,8.15,0,0,1-2.69-.37,2.47,2.47,0,0,1-1.36-.94q-0.34-.57-0.68-1.2t-0.63-1.2a2.16,2.16,0,0,0-1.2-.94,6.7,6.7,0,0,0-2.43-.37,8.89,8.89,0,0,0-1.33.16q-0.92.16-2.14,0.5a5.88,5.88,0,0,0-2.12,1,2.06,2.06,0,0,0-.89,1.65A2.68,2.68,0,0,0,371,56.72a7.75,7.75,0,0,0,2.48,1.36q1.31,0.42,3.24.92t2.41,0.65q11.4,2.88,13.6,3.56,11.45,3.61,16.21,9.47,4.39,5.44,4.39,13.65a30.1,30.1,0,0,1-1.28,9,23.21,23.21,0,0,1-3.37,6.9,22.48,22.48,0,0,1-5.23,5,32.34,32.34,0,0,1-6.35,3.5,44.66,44.66,0,0,1-7.3,2.2q-4.08.89-7.51,1.28T374.82,114.88Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M413.52,49.09q0-.94.1-2.8t0.1-2.54q0-.26-0.1-1.88T413.52,39q0-5.54,1-5.54a2.32,2.32,0,0,1,.73.1q10.93,0,32.4-.26t32.14-.26a7.38,7.38,0,0,1,3.38.47,2.05,2.05,0,0,1,.71,1.83v1.46q0,2.72.05,8T484,53q0,2.72-1.46,2.72-2.93,0-8.73-.1t-8.73-.1v56.07a1.89,1.89,0,0,1-1.78,1.67q-1.83,0-5.33-.05t-5.34-.05a0.3,0.3,0,0,0-.21.11q-2.3,0-6.46-.05t-6.2-.05h-3.14q-1,.11-3,0.11l-2.09-2.51q0-7.95.52-23.64t0.52-23.64q0-.36,0-1.2t0-1.36q0-.52-0.08-1.31a5.33,5.33,0,0,0-.26-1.28,8.45,8.45,0,0,0-.44-1,1.7,1.7,0,0,0-.71-0.73,2.26,2.26,0,0,0-1.07-.24H415Q413.52,55.89,413.52,49.09Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M625.77,92.18q0,0.94.1,2.9T626,98.83q0.05,1.78.08,3.95a34.24,34.24,0,0,1-.16,3.92,26.13,26.13,0,0,1-.55,3.29,5.34,5.34,0,0,1-1.12,2.38,2.41,2.41,0,0,1-1.86.84H598.57q-2.51-1.94-2.51-14.44,0-4.55.05-11t0.05-9.13V75q0-.47-0.08-1.8a16.85,16.85,0,0,1,0-2.07q-2.09,7.58-5.13,21.71t-4.18,18.88q-0.52,1.46-4.81,1.46H563.42q-3.4,0-4-1.78l-5-21.86q-0.68-3.35-1.49-7T551,74.4l-1.62-6.8q-0.63,16.74-.63,25.52v9.21q0,6.17.1,9.31a1.25,1.25,0,0,1-1.15,1.15h-4.92q-3.09,0-9,.05t-9,.05q-2.82,0-2.82-.94V34.34a1.39,1.39,0,0,1,.24-0.81,1.48,1.48,0,0,1,.73-0.52,7.57,7.57,0,0,1,1-.29,6.86,6.86,0,0,1,1.2-.13l1.2-.05q0.47,0,1.2,0l0.94,0h6.17q14.91,0,21,.42t9.34,0.42q1.26,7,4,20.82l4,20.82,8.37-42.26a6.23,6.23,0,0,0,1,.21q5.6,0,16.53-.16t16.53-.16H623q1.46,0.16,1.46,2.93Q625.66,86.27,625.77,92.18Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M627.65,111.75q3.24-12,7.17-24.32t9.75-29.52q5.83-17.18,8-23.77a8.86,8.86,0,0,1,.84-1.26h8.79q3.09,0,9.1-.1t9.1-.1h8.79q0.79,0,1.31,0t1.25,0.13a4.23,4.23,0,0,1,1.18.31,2,2,0,0,1,.76.63,1.61,1.61,0,0,1,.31,1l24.11,76.41a1.47,1.47,0,0,1-.76,1.44,7,7,0,0,1-2.85.39h-4.81q-2.09,0-6.22.05t-6.22.05q-0.63,0-2.54.08t-3.22.05q-1.31,0-2.9-.16a7.77,7.77,0,0,1-2.56-.58,2.15,2.15,0,0,1-1.23-1.18v-3.45a15.16,15.16,0,0,0-1.83-4.81q-1.31-2.2-2.77-2.2h-18L659.45,112q-0.58,1.26-5.86,1.26h-4.18q-2.25,0-6.69.16t-6.7.16h-1.46q-0.84,0-2.64.05t-2.8.05A18.34,18.34,0,0,1,627.65,111.75ZM663.95,80l1.46,2.46h3.45a54.29,54.29,0,0,0,7.66-.5q3.48-.5,3.48-1.6l-6.75-30.13q-0.94,0-2.54,3.56a41.54,41.54,0,0,0-2.59,8.05Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M797,112q-1.15,1.15-4.84,1.36a81.38,81.38,0,0,1-9.07-.1q-5.39-.31-5.75-0.31-3.56,0-5.13-.1H767q-1.15-.37-1.93-3.43a79.73,79.73,0,0,1-1.54-8.79q-0.76-5.73-.81-6.09-0.21-5.18-1.67-6.83T755.69,86h-2.3v25.52a1.57,1.57,0,0,1-1.1,1,9.36,9.36,0,0,1-2.85.55q-1.86.13-3.29,0.16t-3.79,0l-2.88-.05h-7.53q-6.38,0-9.62.1a14.51,14.51,0,0,1-1.46-.73v-78q0-1.46,4.18-1.46h45.61q11.87,0.31,18.07,5.65t6.2,15.06q0,12.66-12.76,18.52a15.39,15.39,0,0,1,4.24,2,16,16,0,0,1,3.14,2.8,15.2,15.2,0,0,1,2.2,3.58,29.31,29.31,0,0,1,1.46,3.92A36.83,36.83,0,0,1,794.1,89q0.39,2.51.55,4.34T795,97.7q0.24,2.54.39,4v4.6a9.08,9.08,0,0,0,1,2.35,13.19,13.19,0,0,1,1,2.25C797.42,111.61,797.28,112,797,112Zm-43.93-56.7q0,3.14.05,4.66a23.84,23.84,0,0,0,.58,4,7,7,0,0,0,1.57,3.5,17.76,17.76,0,0,0,4.16-.47,14.38,14.38,0,0,0,3.79-1.52,7.4,7.4,0,0,0,2.9-3.11,10.62,10.62,0,0,0,1.07-4.94,6.67,6.67,0,0,0-.58-2.85,4.73,4.73,0,0,0-1.67-2,12.8,12.8,0,0,0-2.17-1.18,10,10,0,0,0-2.62-.63q-1.54-.18-2.43-0.24t-2.14-.05h-1.26a1.93,1.93,0,0,0-1,1.46A17.36,17.36,0,0,0,753.07,55.26Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M801.71,113.1q0.21-15.22.73-22.28,0-22,.63-44.56-0.21-4.39-.21-6.49V38.21q-0.21-2.3-.21-3.77a2.28,2.28,0,0,1,.94-1.78q8.58,0.63,26.15.63a51.55,51.55,0,0,0,5.75-.21v80H801.71Z" transform="translate(-33.08 -30.36)"/>
					     <path class="wlc" d="M845.65,112V88.31q-0.11-13,.84-49.48V34.55a1.48,1.48,0,0,1,.42-1.36h36q0.52,0,2.12,4t3.87,10.23q2.27,6.25,3.22,8.6l7.32,19.14V54.84q0-2.61.13-9.6t0.08-10.91q0-1.46,8.37-1.46,2.61,0,7.17.1t5.6,0.1h4q0.84,0,.84.31,0.31,14.54.31,41.63v36.3q-0.37,1.36-3.35,1.36h-1.36q-2.72,0-8,.1t-8,.1H889.79q-0.73-.26-3-6.59-2.46-6.85-7.32-19.82L874,72q0,3.09-.05,9.21t-0.05,9.21q0,2.3.1,6.9t0.1,6.9v6.59q0,2.41-2.09,2.41H847.95Z" transform="translate(-33.08 -30.36)"/>
					  </g>
					</svg>
				</h1>
			</div>
			<div class="timeline">
				<div class="smooth_hide"></div>
				<div class="timeline_scroll">
					<div class="time_bar"></div>
					<div class="t_item">
						<div class="t_date">09/2015 - 06/2017</div>
						<p>Associate's degree in software development</p>
						<div class="t_location"><a href="https://iut2.univ-grenoble-alpes.fr" target="_blank"><img src="img/iut2.png" alt="iut2"></a> Grenoble, France</div>
					</div><div class="t_item">
						<div class="t_date">05/2017 - 07/2017</div>
						<p>Three-month internship<br><br>Design & implementation of mini-games for a fast food restaurants chain</p>
						<div class="t_location"><a href="https://www.xgillab.com/" target="_blank"><img src="img/x_gil.png" alt="X-Gil-Lab"></a> Grenoble, France</div>
					</div><div class="t_item">
						<div class="t_date">11/2017 - 11/2020</div>
						<p>Software engineer school</p>
						<div class="t_location"><a href="http://www.42.fr/" target="_blank"><img src="img/42.png" alt="42 school"></a> Paris, France</div>
					</div>
				</div>
				<div class="smooth_hide hide_right"></div>
			</div>

			<footer>
				<p class="contact_item contact_me">Contact Me!</p>
				<div class="contact_link">
					<a class="contact_item mail" href="mailto:#"><i class="link_ico fas fa-envelope"></i>emarin@student.42.fr</a>
					<a class="contact_item link_git" href="https://github.com/zer0nim" target="_blank"><i class="link_ico fab fa-github" data-fa-transform="shrink-8 up-6"></i>Github</a>
					<a class="contact_item link_linkdln" href="https://www.linkedin.com/in/ernest-marin" target="_blank"><i class="link_ico fab fa-linkedin"></i>LinkedIn</a>
				</div>
			</footer>
		</div>
		<div class="projects">
			<div class="header_wrapper">
				<div class="header fake_header">
					<div class="proj_ico">
						<h3>Projects</h3>
						<div class="toggle">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<h1>Projects</h1>
			</div>

			<article>
				<a class="proj" target="_blank" href="http://atelierdecathy.fr/">
					<div class="proj_container">
						<h4>atelierdecathy</h4>
						<img src="img/atelierdecathy.png" alt="test">
						<div class="lang_contnr">
							<i class="lang_ico fab fa-js-square"></i>
							<i class="lang_ico fab fab fa-html5"></i>
							<i class="lang_ico fab fa-php"></i>
							<i class="lang_ico fab fa-css3-alt"></i>
						</div>
					</div>
				</a>
				<%
				for (var u_key in orgs_proj_info)
				{
					if (orgs_proj_info.hasOwnProperty(u_key))
					{
						for (var p_key in orgs_proj_info[u_key])
						{
							if (orgs_proj_info[u_key].hasOwnProperty(p_key))
							{
								link = "https://github.com/" + u_key + "/" + p_key;
								img = ("img" in orgs_proj_info[u_key][p_key]) ? orgs_proj_info[u_key][p_key].img : "img/thumbnail.png";
				%>


								<a class="proj" target="_blank" href="<%= link %>">
									<div class="proj_container">
										<h4><%= p_key %></h4>
										<img src="<%= img %>" alt="test">
										<div class="lang_contnr">
					<%
											languages = orgs_proj_info[u_key][p_key].languages;

											for (var l_key in languages)
											{
												if (lang_ico.hasOwnProperty(l_key))
												{
					%>
													<i class="lang_ico <%= lang_ico[l_key].class %>"><%= lang_ico[l_key].value %></i>
					<%
												}
											}
					%>
										</div>
									</div>
								</a>
				<%
							}
						}
					}
				}
				%>

			</article>

			<footer>
				<p class="contact_item contact_me">Contact Me!</p>
				<div class="contact_link">
					<a class="contact_item mail" href="mailto:#"><i class="link_ico fas fa-envelope"></i>emarin@student.42.fr</a>
					<a class="contact_item link_git" href="https://github.com/zer0nim" target="_blank"><i class="link_ico fab fa-github" data-fa-transform="shrink-8 up-6"></i>Github</a>
					<a class="contact_item link_linkdln" href="https://www.linkedin.com/in/ernest-marin" target="_blank"><i class="link_ico fab fa-linkedin"></i>LinkedIn</a>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
