/* v-----------Reset navigator style-----------v */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
p,
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
/* ^-----------Reset navigator style-----------^ */
body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}
a:-webkit-any-link {
  text-decoration: none;
}
/* v-----------header-----------v */
h1 {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 0.4rem;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.header {
  background-color: #204b7d;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  height: 2.5rem;
}
.header.fake_header {
  position: static;
  opacity: 0;
}
.header .proj_ico {
  display: flex;
  align-items: center;
  color: #ffc107;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.3rem;
}
.header .proj_ico .button_proj,
.header .proj_ico h3 {
  transition: transform 0.5s ease-out;
}
@media not all and (hover: none) {
  .header .proj_ico:hover {
    color: #fff;
  }
  .header .proj_ico:hover .toggle span {
    background: #fff;
  }
}
.header .proj_ico:focus {
  color: #008000;
}
.header .proj_ico h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin-right: 0.5rem;
}
.show_projects .button_proj {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.show_projects .proj_ico {
  color: #d50e0e;
}
/* ^-----------header-----------^ */
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 1280px;
  margin: auto;
}
.push_content,
.proj {
  flex: 1;
  min-width: 350px;
  margin: 3px 3px 20px 3px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .push_content,
  .proj {
    min-width: 250px;
  }
}
.proj img {
  width: 100%;
  vertical-align: middle;
}
.proj h4 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
}
/* v----------projects---------v */
.content_wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
.home,
.projects {
  flex: 1;
  width: 100vw;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}
.projects {
  transition: transform 0.5s ease-out 0ms;
  background-color: #000;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.home {
  transition: transform 0.5s ease-out 0ms;
}
.show_home .projects {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  overflow: hidden;
  height: 100%;
}
.show_home .home {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  position: static;
}
.show_projects .projects {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  position: static;
}
.show_projects .home {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow: hidden;
  height: 100%;
}
/* ^----------projects---------^ */
/* v------------Title----------v */
#ernest {
  width: calc(100% - 2rem);
  max-width: 350px;
  margin: auto;
  display: block;
  overflow: visible;
  padding: 0 1rem;
}
.wlc {
  stroke-width: 4px;
  fill: #000;
  stroke: #f5f5f5;
}
/* ^------------Title----------^ */
/* v-----------footer-----------v */
.link_ico {
  font-size: 1.5rem;
  margin-right: 5px;
}
footer {
  width: 100%;
  font-family: 'Pacifico', cursive;
  background-color: #000;
}
footer .contact_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
footer .contact_link .link_git,
footer .contact_link .link_linkdln,
footer .contact_link .mail {
  color: rgba(238,0,238,0.667) f;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}
footer .contact_link .link_git:link,
footer .contact_link .link_linkdln:link,
footer .contact_link .mail:link,
footer .contact_link .link_git:visited,
footer .contact_link .link_linkdln:visited,
footer .contact_link .mail:visited,
footer .contact_link .link_git:focus,
footer .contact_link .link_linkdln:focus,
footer .contact_link .mail:focus,
footer .contact_link .link_git:active,
footer .contact_link .link_linkdln:active,
footer .contact_link .mail:active {
  color: #e0eaf0;
}
footer .contact_link .mail {
  font-size: 1.3rem;
}
footer .contact_link .mail:hover {
  color: #8bc34a;
}
footer .contact_link .mail .fa-envelope {
  vertical-align: -0.18rem;
}
footer .contact_link .link_git:hover {
  color: #5d4aa1;
}
footer .contact_link .link_linkdln:hover {
  color: #67d0ff;
}
footer .contact_link .contact_item {
  padding: 0.1rem 1rem;
}
footer .contact_me {
  text-align: center;
  width: fit-content;
  font-size: 1.9rem;
  margin: auto;
  color: #056a9e;
}
/* ^-----------footer-----------^ */
/* v-----------language-icon-----------v */
.lang_contnr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  background-color: rgba(0,0,0,0.82);
  padding: 0.1rem;
  position: absolute;
  bottom: 0;
}
.proj_container {
  position: relative;
}
.lang_ico {
  display: inline-block;
  padding: 0.4rem;
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.lang_ico.fa-terminal {
  font-size: 1.1rem;
  color: #1fb336;
}
.lang_ico.c {
  font-size: 1.5rem;
}
.lang_ico.cpp {
  font-size: 1.2rem;
}
.lang_ico.fa-js-square {
  color: #f58233;
}
.lang_ico.fa-html5 {
  color: #f25931;
}
.lang_ico.fa-java {
  color: #ea2d2e;
}
.lang_ico.fa-php {
  color: #9f87ca;
}
.lang_ico.fa-css3-alt {
  color: #007dc6;
}
.lang_ico.fa-python {
  color: #ffcb3d;
}
.lang_ico.c {
  color: #a136b3;
}
.lang_ico.cpp {
  color: #2e86cc;
}
/* ^-----------language-icon-----------^ */
/* v-----------timeline-----------v */
.timeline {
  width: 100%;
  color: #000;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin: 2rem 0 1rem 0;
  font-family: 'Roboto', sans-serif;
}
.timeline .timeline_scroll {
  width: max-content;
  margin: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
}
.timeline .time_bar {
  position: absolute;
  top: 0.3rem;
  width: 100%;
  height: 0.4rem;
  background-color: #2196f3;
  background-image: -webkit-linear-gradient(90deg, #9c27b0, #2196f3);
  background-image: -moz-linear-gradient(90deg, #9c27b0, #2196f3);
  background-image: -ms-linear-gradient(90deg, #9c27b0, #2196f3);
  background-image: -o-linear-gradient(90deg, #9c27b0, #2196f3);
  background-image: linear-gradient(90deg, #9c27b0, #2196f3);
}
.timeline .smooth_hide {
  flex: 1;
  height: 50px;
  position: relative;
  height: 0.4rem;
  top: 0.3rem;
  background-color: #9c27b0;
  background-image: -webkit-linear-gradient(90deg, #000, #9c27b0);
  background-image: -moz-linear-gradient(90deg, #000, #9c27b0);
  background-image: -ms-linear-gradient(90deg, #000, #9c27b0);
  background-image: -o-linear-gradient(90deg, #000, #9c27b0);
  background-image: linear-gradient(90deg, #000, #9c27b0);
}
.timeline .smooth_hide.hide_right {
  background-color: #2196f3;
  background-image: -webkit-linear-gradient(270deg, #000, #2196f3);
  background-image: -moz-linear-gradient(270deg, #000, #2196f3);
  background-image: -ms-linear-gradient(270deg, #000, #2196f3);
  background-image: -o-linear-gradient(270deg, #000, #2196f3);
  background-image: linear-gradient(270deg, #000, #2196f3);
}
.timeline .t_item {
  width: 200px;
  background-color: #fbfbfb;
  position: relative;
  margin: 2.5rem 0.3rem 0.2rem 0.3rem;
  border-radius: 0.1em;
  padding: 0.5rem 0.7rem;
  vertical-align: top;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timeline .t_item:first-child {
  margin-left: 0.2rem;
}
.timeline .t_item:last-child {
  margin-right: 0.2rem;
}
.timeline .t_item:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136,183,213,0);
  border-bottom-color: #fbfbfb;
  border-width: 0.8rem;
  margin-left: -0.8rem;
}
.timeline .t_item:before {
  position: absolute;
  top: calc(-2.5rem + 0.7rem);
  left: calc(50% - 0.5rem);
  content: ' ';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -10px;
  background-color: #3c4eb5;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  z-index: 4;
}
.timeline .t_item .t_date {
  padding: 0.1rem 0 0.3rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0,0,0,0.149);
}
.timeline .t_item .t_location,
.timeline .t_item .t_date,
.timeline .t_item p {
  text-align: center;
}
.timeline .t_item .t_location {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.timeline .t_item .t_location img {
  max-width: 3.8rem;
  max-height: 1.9rem;
  margin-right: 0.5rem;
}
.timeline .t_item .t_location img:hover {
  -webkit-filter: drop-shadow(0px 3px 1px rgba(13,72,118,0.651));
  filter: drop-shadow(0px 3px 1px rgba(13,72,118,0.651));
}
.timeline .t_item p {
  padding: 0.8rem 0;
  font-size: 1rem;
}
.timeline .t_item a {
  color: #673ab7;
}
.timeline .t_item a:hover {
  color: #388e3c;
}
/* ^-----------timeline-----------^ */
.toggle {
  display: inline-block;
  cursor: pointer;
}
.toggle span {
  display: block;
  background: #ffc107;
  width: 21px;
  height: 2px;
  border-radius: 1.5px;
  transition: margin 0.5s, 0.5s transform;
  transition: margin 0.5s ease-out transform 0.5s ease-out;
}
.toggle span:nth-child(1) {
  margin-bottom: 4px;
}
.toggle span:nth-child(3) {
  margin-top: 4px;
}
.show_projects .toggle span {
  background: #d50e0e;
}
.show_projects .toggle span:nth-child(1) {
  margin-top: 2px;
  margin-bottom: -2px;
}
.show_projects .toggle span:nth-child(1),
.show_projects .toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.show_projects .toggle span:nth-child(3) {
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@-moz-keyframes dash {
  100% {
    fill: #282c34;
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  100% {
    fill: #282c34;
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  100% {
    fill: #282c34;
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  100% {
    fill: #282c34;
    stroke-dashoffset: 0;
  }
}
